$colors: (
    --v-anchor-base: #0096c7,
    --v-primary-base: #0096c7,
    --v-primary-lighten5: #c0ffff,
    --v-primary-lighten4: #a1ffff,
    --v-primary-lighten3: #82e8ff,
    --v-primary-lighten2: #63ccff,
    --v-primary-lighten1: #3fb1e3,
    --v-primary-darken1: #007cac,
    --v-primary-darken2: #006391,
    --v-primary-darken3: #004b77,
    --v-primary-darken4: #00355e,
    --v-secondary-base: #a0b9c8,
    --v-secondary-lighten5: #ffffff,
    --v-secondary-lighten4: #ffffff,
    --v-secondary-lighten3: #f4ffff,
    --v-secondary-lighten2: #d7f1ff,
    --v-secondary-lighten1: #bbd5e4,
    --v-secondary-darken1: #869ead,
    --v-secondary-darken2: #6c8492,
    --v-secondary-darken3: #536b78,
    --v-secondary-darken4: #3b5360,
    --v-accent-base: #048ba8,
    --v-accent-lighten5: #b6ffff,
    --v-accent-lighten4: #98f9ff,
    --v-accent-lighten3: #7addfc,
    --v-accent-lighten2: #5cc1df,
    --v-accent-lighten1: #3ba5c3,
    --v-accent-darken1: #00718e,
    --v-accent-darken2: #005974,
    --v-accent-darken3: #00415b,
    --v-accent-darken4: #002b44,
    --v-error-base: #ef476f,
    --v-error-lighten5: #ffd9f5,
    --v-error-lighten4: #ffbcd9,
    --v-error-lighten3: #ff9fbd,
    --v-error-lighten2: #ff82a2,
    --v-error-lighten1: #ff6588,
    --v-error-darken1: #d02457,
    --v-error-darken2: #b10040,
    --v-error-darken3: #92002a,
    --v-error-darken4: #740017,
    --v-info-base: #2196f3,
    --v-info-lighten5: #d4ffff,
    --v-info-lighten4: #b5ffff,
    --v-info-lighten3: #95e8ff,
    --v-info-lighten2: #75ccff,
    --v-info-lighten1: #51b0ff,
    --v-info-darken1: #007cd6,
    --v-info-darken2: #0064ba,
    --v-info-darken3: #004d9f,
    --v-info-darken4: #003784,
    --v-success-base: #06d6a0,
    --v-success-lighten5: #caffff,
    --v-success-lighten4: #aaffff,
    --v-success-lighten3: #8bfff3,
    --v-success-lighten2: #6affd7,
    --v-success-lighten1: #45f3bb,
    --v-success-darken1: #00ba86,
    --v-success-darken2: #009e6c,
    --v-success-darken3: #008354,
    --v-success-darken4: #00693d,
    --v-warning-base: #ffd166,
    --v-warning-lighten5: #fffff1,
    --v-warning-lighten4: #ffffd4,
    --v-warning-lighten3: #ffffb8,
    --v-warning-lighten2: #ffff9c,
    --v-warning-lighten1: #ffed81,
    --v-warning-darken1: #e1b64c,
    --v-warning-darken2: #c39b31,
    --v-warning-darken3: #a68111,
    --v-warning-darken4: #896800,
    --v-background-base: #ffffff,
    --v-background-lighten5: #ffffff,
    --v-background-lighten4: #ffffff,
    --v-background-lighten3: #ffffff,
    --v-background-lighten2: #ffffff,
    --v-background-lighten1: #ffffff,
    --v-background-darken1: #e2e2e2,
    --v-background-darken2: #c6c6c6,
    --v-background-darken3: #ababab,
    --v-background-darken4: #919191,
    --v-surface-base: #f2f5f8,
    --v-surface-lighten5: #ffffff,
    --v-surface-lighten4: #ffffff,
    --v-surface-lighten3: #ffffff,
    --v-surface-lighten2: #ffffff,
    --v-surface-lighten1: #ffffff,
    --v-surface-darken1: #d6d9db,
    --v-surface-darken2: #babdc0,
    --v-surface-darken3: #9fa2a5,
    --v-surface-darken4: #85888a,
),